<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadowlark travel</title>
</head>
<body>
    <header><img src="/img/logo.jpg" alt="" width="120px"></header>
    {{{body}}}
</body>
</html>